.nav-toggle {
    display: none;
    background: none;
    border: 0;
    padding: 9px 1px;
    margin: 0 auto;
    max-width:30px;

    &:focus {
        outline: none;
    }

    &__item {
        width: 30px;
        height: 3px;
        background: #fff;
        display: block;

        position: relative;
        font-size: 0;
        color: transparent;

        &:before,
        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 3px;
            background: #fff;
            position: absolute;
            left: 0;
            z-index: 5;

            transition: transform .2s linear;
        }

        &:before {
            top:-8px;
        }

        &:after {
            bottom:-8px;
        }
    }

    &.active &__item{
        background: none;
    }

    &.active &__item{
        &:before{
            transform-origin: left top;
            transform: rotate(45deg) translateX(-3px);
        }
    }
    &.active &__item{
        &:after{
            transform-origin: left bottom;
            transform: rotate(-45deg) translateX(-3px);
        }
    }

    @media (max-width: 767px) {
        display: block;
    }
}
