@font-face {
    font-family: "AbrahamLincoln";
    src: url("../fonts/AbrahamLincoln.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham.otf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}