@mixin Abr {
    font-family: "AbrahamLincoln";
}

@mixin Goth {
    font-family: "Gotham";
}

@mixin Lato {
    font-family: "Lato-Regular";
}

@mixin Pop {
    font-family: "Poppins-Regular";
}

@mixin Rob {
    font-family: "Roboto-Regular";
}