.section-header {
    display: flex;
    justify-content: center;
    margin: -305px 0px 150px 0px;
    position: relative;
    &__number {
        position: absolute;
        bottom: -75px;
        left: 10px;
        font-size: 352px;
        font-weight: normal;
        color: $suptitle-color;

        &_details{
            left:965px;
            color:$title-color;
        }
        &_wedo{
            left:800px;
            color:$title-color;
            bottom: -190px;
        }
    }

    &__content {
        border: 20px solid $main-color;
        padding: 300px 100px 20px 35px;
        position: relative;
        &:after {
            content: " ";
            display: block;
            position: absolute;
            top:315px;
            right:-299px;
            width: 475px;
            height: 340px;
            background: url("../images/invites/brush-box.png") 0 0 / 100% repeat;
            background-size: cover;
        }
    }

    &__title {
        font-size: 100px;
        color: $main-color;
        line-height: 90px;
        margin-bottom: 10px;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__description {
        font-size: 30px;
        text-transform: uppercase;
        color: $main-color;
    }

    @media (max-width:1200px){
        margin: -250px 0px 150px 0px;
        &__title{
            font-size: 90px;
        }
        &__number{
            bottom: -57px;
            left: -60px;
            font-size: 260px;
            
            &_details{
                left:850px;
            }
            &_wedo{
                left:800px;
                bottom: -190px;
            }
        }
        &__content{
            padding: 250px 100px 20px 20px;
            &:after{
                width: 370px;
                height: 270px;
                top: 315px;
                right: -203px;
            }
        }
    }
    @media (max-width:1100px){
        &__title{
            font-size: 90px;
        }
        &__number{
            bottom: -57px;
            left: -30px;
            font-size: 260px;

            &_details{
                left:805px;
            }
            &_wedo{
                left:800px;
                bottom: -190px;
            }
        }
        &__content{
            padding: 250px 100px 20px 20px;
            &:after{
                width: 370px;
                height: 270px;
                top: 315px;
                right: -203px;
            }
        }
    }

    @media (max-width:1020px){
        &__number{
            &_wedo{
                left:700px;
                bottom: -190px;
            }
        }
    }
    @media (max-width:992px){
        margin: -200px 0px 150px 0px;
        &__title{
            font-size: 72px;
        }
        &__number{
            bottom: 150px;
            left: 515px;
            font-size: 220px;

            &_details{
                left:175px;
            }
            &_wedo{
                left:700px;
                bottom: -140px;
            }
        }
        &__content{
            padding: 200px 100px 20px 20px;
            &:after{
                display: none;
            }
        }
    }

    @media (max-width:895px){
        &__number{
            &_wedo{
                left:40%;
            }
        }
    }
    @media (max-width:767px){
        margin: -170px 0px 75px 0px;
        &__content{
            padding: 150px 40px 20px 20px;
            &:after{
                display: none;
            }
        }
        &__number{
            bottom: 150px;
            left: 490px;
            font-size: 185px;

            &_details{
                left:175px;
            }
            &_wedo{
                left:40%;
                bottom: -140px;
            }
        }
    }
    @media (max-width:730px){
        &__content{
            border-width:15px;
        }
        &__number{
            bottom: 150px;
            left: 420px;
            font-size: 185px;

            &_details{
                left:175px;
            }
            &_wedo{
                left:40%;
                bottom: -140px;
            }
        }
    }
    @media (max-width:630px){
        &__number{
            right:0;
            font-size: 185px;
        }
        &__title{
            font-size: 60px;
            line-height: 60px;
        }
    }
    @media (max-width:575px){
        margin: -140px 0px 75px 0px;
        &__content{
            padding: 70px 20px 20px 20px !important;
            text-align: center;
            &:after{
                display: none;
            }
        }
        &__number{
            left:40%;
            bottom:-160px;
            font-size: 145px;

            &_wedo{
                bottom: -85px;
            }
        }
        &__title{
            margin-bottom: 15px;
        }
        &__description{
            font-size: 26px;
        }
    }
    @media (max-width: 500px){
        &__content{
            border-width: 10px !important;
        }
        margin: -85px 0px 75px 0px;
    }
}


