@import "vars.scss";
@import "fonts.scss";
@import "mixin.scss";
@import "grid.scss";

html,body{
    height: 100%;
    width: 100%;
}

body{
    margin:0px 0px 0px 0px;
    -webkit-font-smoothing: antialiased;
    @include Abr();
    font-size: 20px;
    color:$main-color;

    &.active{
        overflow: hidden;
    }
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 0 0 4px;
}

.main__wrapper{
    min-height: 100%;
    overflow: hidden;
}

// Logo

@import "logo.scss";

// Section__header

@import "section.header.scss";

// Ibg

@import "ibg.scss";

// SlickSlider

@import "slick.scss";

// Burger

@import "burger.scss";

// Blocks

@import "blocks/header";
@import "blocks/banner";
@import "blocks/invites";
@import "blocks/clients";
@import "blocks/details";
@import "blocks/wedo";
@import "blocks/customers";
@import "blocks/footer";