.clients {
    padding: 150px 0px 0px 0px;
    position: relative;
    background: #c4c4c5;
    background-size: cover;
    padding-top: 1150px;
    padding-bottom: 0;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../images/clients/Layer-16.png") center bottom no-repeat;
    }

    &__header {
        margin-top: -950px;
        text-align: center;
        position: relative;
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        font-size: 290px;
        color: #b7b7b8;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 332px;
    }

    &__suptitle {
        font-size: 75px;
        color: $title-color;
        line-height: 78px;
        text-transform: uppercase;
        font-weight: normal;
        position: relative;
        z-index: 5;
    }

    &__description {
        width: 100%;
        max-width: 835px;
        margin: 0 auto;
        font-size: 20px;
        color: #000;
        @include Pop();
        line-height: 30px;
        position: relative;
        z-index: 5;
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 250px;
        height: 250px;
        background: transparent;
        border-radius: 50%;
        border: 1px solid #b0b0b1;

        &:before {
            content: " ";
            display: block;
            width: 150px;
            height: 150px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            background: #d0d0d1;
            border-radius: 50%;
            border: 1px solid #b0b0b1;
        }
        &:after {
            content: " ";
            display: block;
            width: 75px;
            height: 75px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            background: #d0d0d1;
            border-radius: 50%;
            border: 1px solid #b0b0b1;
        }

        .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 25;
            transform: translate3d(-50%, -50%, 0);
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 0 15px 20px;
            border-color: transparent transparent transparent #000000;
        }
    }

    @media (max-width: 1200px) {
        &__title {
            font-size: 235px;
        }
    }
    @media (max-width: 992px) {
        padding-top: 830px;
        &__header {
            margin-top: -750px;
        }
        &__title {
            font-size: 180px;
        }
        &__suptitle {
            font-size: 55px;
            line-height: 47px;
        }
        &__description {
            font-size: 18px;
            max-width: 575px;
        }
    }
    @media (max-width: 767px) {
        padding-top: 710px;
        &__header {
            margin-top: -650px;
        }
        &__button {
            width: 150px;
            height: 150px;

            &:before {
                width: 75px;
                height: 75px;
            }
            &:after {
                width: 37.5px;
                height: 37.5px;
            }

            .btn {
                border-width: 7.5px 0 7.5px 10px;
            }
        }
    }
    @media (max-width: 748px) {
        &__title {
            font-size: 136px;
            width: 100%;
        }
        &__suptitle {
            font-size: 35px;
            line-height: 47px;
        }
        &__description {
            font-size: 15px;
            max-width: 575px;
            line-height: 20px;
        }
    }
    @media (max-width: 575px) {
        padding-top: 520px;
        &__header {
            margin-top: -510px;
        }
        &__title {
            font-size: 72px;
        }
        &__suptitle {
            font-size: 30px;
            line-height: 47px;
        }
        &__description {
            font-size: 13px;
            max-width: 575px;
            line-height: 20px;
        }
        &__button {
            width: 150px;
            height: 150px;

            &:before {
                width: 75px;
                height: 75px;
            }
            &:after {
                width: 37.5px;
                height: 37.5px;
            }

            .btn {
                border-width: 7.5px 0 7.5px 10px;
            }
        }
    }
}
