.header {
    padding-top: 100px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 1000;

    &.active{
        padding-top: 20px;
    }

    &.fixed{
        position: fixed;
        top:0;
        left:0;
        right:0;
        transform: translate3d(0,0,0);
        background:#a26464;
        padding: 25px 0 25px;


        .banner-social{
            display: none;
        }
        .header__logo{
            margin: 0px 0px 25px 0px;
        }

        .header-menu-list__item{
            &:last-child{
                &:before{
                    background: #6e967e;
                }
            }
        }

        @media (max-width:991px){
            padding: 25px 0 25px;
        }

        @media (max-width:767px){
            .header__logo{
                margin: 0;
            }
            .nav-toggle{
                margin-bottom: 0;
            }
        }
    }
    
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__logo {
        margin:0px 0px 50px 0px;
    }

    &-menu {
        &-list {
            display: flex;
            justify-content: center;
            position: relative;
            
            &__item {
                &:not(:last-child){
                    & + &{
                        margin-left: 75px;
                    }
                }
                &:last-child{
                    &:before{
                        content: " ";
                        display: block;
                        width: 2px;
                        height: 200px;
                        background: #313131;
                        position: absolute;
                        top:-200px;
                    }
                    position: absolute;
                    right:35px;
                    top:50%;
                    transform: translateY(-50%);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: #ffa800;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 60px;
                    transition: transform .2s linear;
    
                    &:hover{
                        transform: translateY(-60%);
                    }
                }
            }

            &__iccon{
                width: 20px;
                height: 20px;
                fill: #000;
            }
    
            &__link {
                font-size: 20px;
                color:$main-color;
                text-transform: uppercase;
                letter-spacing: 5px;
                transition: color .2s linear;

                &:hover{
                    color:$suptitle-color;
                }
            }
        }
    }

    @media (max-width:1040px){
        &-menu-list__item{
            &:last-child{
                display: none;
            }
        }
    }

    @media (max-width:991px){
        &-menu-list{
            padding: 0 15px;

            &__item{
                &:not(:last-child){
                    & + &{
                        margin-left: 55px;
                    }
                }
            }
            &__link{
                font-size: 18px;
            }
        }
    }

    @media (max-width:767px){
        &__inner{
            text-align: start;
            flex-direction: row;
        }
        &__logo{
            margin:0px 0px 25px 0px;
            text-align: center;
            position: relative;
            z-index: 10;

            .logo{
                text-align: center;
            }
        }
        &-menu{
            position: fixed;
            top:-660%;
            left:0;
            width: 100%;
            height: 660%;
            background: #a92727;
            overflow: auto;
            transition: all .3s ease 0s;
            

            &-list{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 150px 0 0 15px;
                &__link{
                    font-size: 30px;
                }

                &__item{
                    &:not(:last-child){
                        & + &{
                            margin-left: 0;
                        }
                    }
                    margin-top: 7px;
                    padding-left: 15px;
                    &:first-child{
                        margin-top: 0;
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
        }

        &-menu.active{
            top:0;

            @media screen and (min-height: 320px) and (max-height: 414px){
                .header-menu-list{
                    padding: 65px 0 0 15px;
                }
            }
        }
    }

    @media (max-width:500px){
        padding-top: 50px;
    }
}

