.wedo {
    background: $main-color;
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
    z-index: 10;
    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__slider {
        width: 550px;
        height: 450px;
        background: transparent;
        border: 20px solid $title-color;
    }

    &-item {
        position: relative;
        height: 100%;
        padding-bottom: 65%;
        &__img {
            width: 110%;
            height: 110%;
            position: absolute;
            top: 6.5%;
            left: 0;
        }
    }
    // Right
    &-row {
        &__column {
        }
        &__item {
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 40px;
            margin-bottom: 45px;
            border-bottom: 1px solid #e6e6e6;

            &_thirty {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
        }

        &__block {
            display: flex;
            align-items: center;
            &_first {
                padding-right: 85px;
            }
        }

        &__img {
            img {
                display: block;
            }
        }

        &__title {
            font-size: 30px;
            text-transform: uppercase;
            color: $title-color;
            font-weight: normal;
            padding-left: 20px;
        }
    }

    @media (max-width:1200px){
        &-row{
            padding-left: 55px;
        }
    }

    @media (max-width:992px){
        padding-top: 75px;
        &__inner{
            display: flex;
            flex-direction: column;
        }
        &__slider{
            margin-top: 45px;
        }
        &-row{
            padding: 0;
            order:-1;
        }
    }

    @media (max-width:860px){
        padding-top: 0;
        margin-top: -70px;
    }

    @media (max-width:767px){
        margin-top:0px;
        &__slider{
            width: 450px;
            height: 400px;
        }
    }
    
    @media (max-width:575px){
        margin-top: 175px;
        padding-bottom: 65px;

        &__slider{
            width: 350px;
            height: 300px;
            border-width:10px;
            margin-top:0;
            margin-bottom: 15px;
        }
        &-row{
            &__item{
                margin-bottom: 20px;
                padding-bottom: 20px;
            }
            &__title{
                font-size: 24px;
            }
        }
    }

    @media (max-width:485px){       
        &__slider{
            width: 250px;
            height: 225px;
        }
        &-row{
            &__item{
                text-align: center;
            }
            &__block{
                flex-direction: column;
                &_first{
                    padding-right: 27px;
                }
            }
            &__img{
                margin-bottom: 5px;
            }
            &__title{
                padding: 0;
            }
        }
    }

    @media (max-width:430px){       
        &__slider{
            width: 250px;
            height: 225px;
        }
    }
}

// Modal

.wedo-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    &.close{
        display: none;
    }

    &__row {
        width: 100%;
        position: relative;
        max-width: 600px;
        background: #694fca;
        padding: 35px 45px 35px 35px;
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 1;

        .btn {
            background: none;
            border: 0;
            font-size: 0;
            color: transparent;

            &:focus {
                outline: none;
            }
        }
    }

    &__iccon {
        cursor: pointer;
        width: 35px;
        height: 35px;
        fill: #fff;
        transition: transform 0.2s linear, fill 0.2s linear;

        &:hover {
            transform: translateY(-4px);
            fill: #000;
        }
    }

    &__title {
        font-size: 70px;
        text-transform: uppercase;
        color: $suptitle-color;
        margin-bottom: 25px;
    }

    &__description {
        font-size: 18px;
        color: $main-color;
        line-height: 40px;
        @include Pop();
    }

    @media (max-width:990px){
        &__row{
            padding: 60px 15px 35px 35px;
        }
        &__title{
            font-size: 60px;
            margin-bottom: 10px;
        }
        &__description{
            line-height: 30px;
        }
    }
    @media (max-width:720px){
        display: none;
    }
}
